.App {
  background-color: #FFFBF4;
  color: black;
  margin:0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.search{
	display:flex;
	justify-content: center;
	flex-direction: row;
	min-height: 10vh;
	background-color: #42703D;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
	width:40vw;
	padding:0 10px;
	font-family: 'Chonburi', serif;
}

.input{
	width:30vw;
	display: flex;
	align-items: left;
	text-align: left;
	flex-direction: column;
	justify-content: space-around;
}

.parks{
	width:100%;
	min-height:80vh;
}

.parkTitle{
	text-align: center;
	font-family: 'Chonburi', serif;
}

.content{
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.parkImg{
	max-width:50%;
	max-height: 50%;
	margin:10px;
}

img{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parkImg img{
	width:100%;
}

select{
	background: rgba(0,0,0,.2);
    width: 170px;
    padding: 2px;
	font-family: 'Open Sans', sans-serif;
    font-size:.9em;
    font-weight:600;
    color:#fff;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 22px;

}


.info{
	width: 40%;
}

.info h2{
	padding:0;
	margin:0;
	font-size: 1.2em;
}

.description, .weather{
	padding:20px;
	text-align: left;
	background-color: #42703D;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	height: 100%;
	margin:10px;
}

p{
	font-size: .9em;
	width:100%;
}
