.App {
  background-color: black;
  color: white;
}
.search{
	display:flex;
	justify-content: space-around;
	flex-direction: column;
	min-height: 20vh;
}

.input{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.parks{
	width:100%;
	min-height:80vh;
}

.parkTitle{
	text-align: center;
}

.parkImg{
	width:70%;
 	margin: 10px auto;
}

.description{
	text-align: left;
	background-color: #c0c0c0;
	color: black;
	width:80%;
	margin:10px auto;
}
